body {
  background: white;
  background: radial-gradient(circle, #fff 20%, #ccc);
  background-size: cover;
}

.main-cont {
  font-size: 15px;
  border-radius: 10px;
  width: 400px;
  top: 10vh;
  background: #9dd2ea;
  background: linear-gradient(#9dd2ea, #8bceec);
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  color: white;
  letter-spacing: 5px;
}

.row {
  padding: 10px;
}

button {
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  color: #666;
 }

#hardcoverPart {
  display: none;
}

